# ==========================================
# dbt core ignores
# ==========================================
target/
dbt_packages/
logs/
dbt_internal_packages/
analyses/

# ==========================================
# OS & Environment ignores 
# ==========================================
.DS_Store

.env
.env.*

# Python 
__pycache__/
*.pyc
.venv/
venv/
